$fontfamily-name-header: "Rubik";
$fontweight-name-header: 500;
$fontsize-name-header: 16px;

$fontweight-slogan: 500; 
$fontsize-slogan:18px;
$fontsize-slogan-desktop:24px;
$lineheight-slogan-desktop:30px;

$fontfamily-menu: "Rubik";
$fontweightname-menu:500;
$fontsize-name-menu: 15px;

$fontfamily-section-adalabers-title: "Rubik";
$fontweight-section-adalabers-title: 500; 
$fontsize-section-adalabers-title: 24px;

$fontfamily-text: "Open Sans";
$fontweight-title-article: normal; 

$primary-color: #14d9c4;
$secondary-color: #099d8d;
$background-color: #f1f1f1;
$primary-text-color: #000000;
$secondary-text-color: #54585a;
$tertiary-text-color: #b8b8b9;


@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) 
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}
