.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: $secondary-color;
    opacity: 0.95;
    position: sticky;
    z-index: 1;

    position: fixed;
    top: 0;
    left: 0;
    @media (width > 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 45px;
    }
    @media (width > 1200px){
        padding-inline: 140px;
    } 


    &__name-section {
        text-transform: uppercase;
        height: 60px;
        padding: 20px 80px;
        opacity: 0.95;

    }


    &__name {
        font-family: $fontfamily-name-header;
        font-weight: $fontweight-name-header;
        font-size:$fontsize-name-header;
        color: white;
        @media (width > 768px) {
        
        }
    
        
    }

    &__nav {

        background-color: $primary-color;
        text-transform: uppercase;
        padding-inline: 15px;
      
        height: 60px;
        padding: 20px 20px;
        opacity: 0.95;
        font-size: $fontsize-name-menu;
        font-family: $fontfamily-menu;
        font-weight: $fontweightname-menu;
        @media (width > 768px) {
            background-color: $secondary-color;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        @media (width > 768px) {
            
            
        }
    }

    &__menu-list,
    &__menu-links {
        list-style: none;
        color: white;
        text-decoration: none;
        @media (width > 768px) {
            
            margin-inline: 10px;
        }
    
    }
 

}

