
.hero {
    background-image: url(../images/Hero/cabecera-mothers-of-code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 420px;
 
    @media (width > 1200px) {
        height: 550px;
    }


    &__slogan {
        background-color: white;
        margin: 387px 15px 0;
        padding: 14px 15px 16px;
       text-align: center;
       align-items: center;
        font-size:$fontsize-slogan ;
        font-weight: $fontweight-slogan;
        margin-top: -60px;
        margin-bottom: 50px;
        @media (width > 532px) {
            width: 441px;
            height: 80px;
            padding: 15px 30px;
            opacity: 0.8;
            text-align: left;
            margin-top: -70px;
            margin-left:50px ;
        
        }
        @media (width > 1200px) {
            font-size: $fontsize-slogan-desktop;
            line-height: $lineheight-slogan-desktop;
            margin-left:140px ;
            width: 574px;
            height: 90px;
            margin-top: -90px;
        }
    }
}
