.teams-strengths-and-weaknesses{
   text-align: center;
   .teams-title{
      color: $primary-color;
      font-family: $font-family-tsw-title;
      font-weight: $fontweight-tsw-title ;
   }
   .teams-paragraph{
      color: $secondary-text-color;
      font-family: $fontfamily-text;
      margin: 15px 15px 30px 15px;
   }

   .square{
      width: 30px;
      height: 30px;
      background-color: $background-color;

      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
   }

   .strengths-and-weaknesses{
      background-color: rgb(184, 184, 185);
      padding-bottom: 45px;
   }

   .s-w-title{
      color: $secondary-color;
      font-family: $font-family-tsw-title;
      font-weight: $fontweight-tsw-title;
      font-size: 22px;
      padding-top: 30px;
      margin-inline: 15px;
      line-height: 2.05;
   }

   .s-w-paragraph{
      color: $secondary-text-color;
      font-family: $fontfamily-text;
      margin-inline: 15px;
      }
}