.teams-strengths-and-weaknesses{
   text-align: center;
   .teams-title{
      color: $primary-color;
      font-family: $font-family-teams-title;
      font-weight: $fontweight-teams-title;
   }
   .teams-paragraph{
      color: $secondary-text-color;
      font-family: $fontfamily-text;

   }
   
}