$fontfamily-name-header: "rubik";
$fontweightname-header: medium;
$fontweight-slogan: 600; 
$fontsize-slogan:18px;

$fontfamily-menu: "rubik";
$fontweightname-menu: medium;
$fontsize-name-header: 15px;

$primary-color: #14d9c4;
$secondary-color: #099d8d;
