$fontfamily-name-header: "Rubik";
$fontweight-name-header: 500;
$fontsize-name-header: 16px;

$fontweight-slogan: 500; 
$fontsize-slogan:18px;

$fontfamily-menu: "Rubik";
$fontweightname-menu:500;
$fontsize-name-menu: 15px;

$primary-color: #14d9c4;
$secondary-color: #099d8d;
