<section class="section-adalabers">

    <h2 class="section-adalabers__title">QUIÉNES SOMOS</h2>

    <article class="section-adalabers__article">

        <img class="section-adalabers__photo" src="../images/Bianca Dragan.jpeg">

        <div class="section-adalabers__content">

            <h3 class="section-adalabers__title">Bianca Dragan</h3>

            <p class="section-adalabers__paragraph"> Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Blanditiis suscipit nesciunt ea qui animi doloremque
                corporis non, quia id praesentium, odit est culpa ipsum? Doloremque ea soluta illum in? Aut.</p>

            <div class="section-adalabers__socialmedia">

                <i class="fa-brands fa-twitter"></i>

                <a class="icon" href="https://www.linkedin.com/in/andreeabiancadragan/" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>

                <i class="fa-solid fa-envelope"></i>

            </div>

        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__photo" src="../images/Estefanía Navas.jpeg">

        <div class="section-adalabers__content">

            <h3 class="section-adalabers__title">Estefanía Navas</h3>

            <p class="section-adalabers__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Blanditiis suscipit nesciunt ea qui animi doloremque
                corporis non, quia id praesentium, odit est culpa ipsum? Doloremque ea soluta illum in? Aut.</p>

            <div class="section-adalabers__socialmedia">

                <i class="fa-brands fa-twitter"></i>

                <a class="icon" href="https://www.linkedin.com/in/estefan%C3%ADa-navas-freitas/" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>

                <i class="fa-solid fa-envelope"></i>

            </div>

        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__photo" src="../images/Julia López.jpeg">

        <div class="section-adalabers__content">

            <h3 class="section-adalabers__title">Julia López</h3>

            <p class="section-adalabers__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Blanditiis suscipit nesciunt ea qui animi doloremque
                corporis non, quia id praesentium, odit est culpa ipsum? Doloremque ea soluta illum in? Aut.</p>

            <div class="section-adalabers__socialmedia">
                <i class="fa-brands fa-twitter"></i>

                <a class="icon" href="https://www.linkedin.com/in/julia-l%C3%B3pez-calvo-90a078142/" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>

                <i class="fa-solid fa-envelope"></i>

            </div>

        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__photo" src="../images/María García.jpeg">

        <div class="section-adalabers__content">

            <h3 class="section-adalabers__title">María García</h3>

            <p class="section-adalabers__paragraph">Me considero una persona extrovertida, inquieta y con mucho
                sentido del humor. De hecho, para mí un día sin reír es un día perdido. En mi tiempo libre disfruto
                leyendo, escribiendo y descubriendo librerías independientes. Como buena urbanita, me encanta viajar a
                grandes ciudades, aunque reconozco que me cuesta probar la comida local. Donde esté la tortilla de
                patatas…
            </p>

            <div class="section-adalabers__socialmedia">
                <i class="fa-brands fa-twitter"></i>

                <a class="icon" href="https://www.linkedin.com/in/mariagantunez/" target="_blank"
                    rel="noopener noreferrer">
                </a>

                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-solid fa-envelope"></i>
            </div>

        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__photo" src="../images/Marta Chacartegui.png">

        <div class="section-adalabers__content">

            <h3 class="section-adalabers__title">Marta Chacartegui</h3>

            <p class="section-adalabers__paragraph">Soy programadora web en formación, jugadora de rugby y amante de los
                pendientes de colores. Me apasiona la tecnología, el trabajo en equipo y siempre busco darle un toque
                personal y vibrante a todo lo que hago.</p>

            <div class="section-adalabers__socialmedia">

                <i class="fa-brands fa-twitter"></i>

                <a class="icon" href="https://www.linkedin.com/in/martachacartegui/" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>

                <i class="fa-solid fa-envelope"></i>

            </div>

        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__photo" src="../images/Seila Cuartero.png">

        <div class="section-adalabers__content">

            <h3 class="section-adalabers__title">Seila Cuartero</h3>

            <p class="section-adalabers__paragraph">Periodista y guionista de comedia. En cuanto abrí mi perfil en
                LinkedIn me puso el emblema del paro y me abrió un GoFundMe. Practicaba pilates, leía, escribía y salía
                a la calle antes de convertirme en adalaber. Ahora paso tanto tiempo delante del ordenador que el
                teclado se ha convertido en una extensión de mi ser. ¿Código o chistes? Aquí hacemos de todo, menos
                levantarnos de la silla.</p>

            <div class="section-adalabers__socialmedia">
                <i class="fa-brands fa-twitter"></i>

                <a class="icon" href="https://www.linkedin.com/in/seilacuarterop%C3%A9rez/" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>

                <i class="fa-solid fa-envelope"></i>
            </div>

        </div>

    </article>

</section>