<section class="section-adalabers" id="quienes-somos">

    <h2 class="section-adalabers__title">Quiénes somos</h2>

    <article class="section-adalabers__article">

        <img class="section-adalabers__photo" src="../images/Bianca Dragan.jpeg">

        <div class="section-adalabers__content">

            <h3 class="section-adalabers__title-article">Bianca Dragan</h3>

            <p class="section-adalabers__paragraph">Soy una mente inquieta y curiosa, apasionada por el tech house. Algún día, me gustaría coser mi propia ropa. También me llaman la atención las energias y todo lo relacionado con convertirnos en nuestra mejor versión. Pero no los espacios ;) </p>

            <load src="/partials/social-icons.html" linkedin="https://www.linkedin.com/in/andreeabiancadragan/" />

        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__photo" src="../images/Estefanía Navas.jpg">

        <div class="section-adalabers__content">

            <h3 class="section-adalabers__title-article">Estefanía Navas</h3>

            <p class="section-adalabers__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Blanditiis suscipit nesciunt ea qui animi doloremque
                corporis non, quia id praesentium, odit est culpa ipsum? Doloremque ea soluta illum in? Aut.</p>


            <load src="/partials/social-icons.html"
                linkedin="https://www.linkedin.com/in/estefan%C3%ADa-navas-freitas/" />

        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__photo" src="../images/Julia López.jpeg">

        <div class="section-adalabers__content">

            <h3 class="section-adalabers__title-article">Julia López</h3>

            <p class="section-adalabers__paragraph">Soy diseñadora web,  madre de gatos y en mis ratos libres ceramista. 
                Me gusta las series policíacas y hacer pilates.
                Me formo como desarrolladora web para poder adquirir una casa en el campo y vivir de mi huerto.</p>

            <load src="/partials/social-icons.html"
                linkedin="https://www.linkedin.com/in/julia-l%C3%B3pez-calvo-90a078142/" />

        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__photo" src="../images/María García.jpeg">

        <div class="section-adalabers__content">

            <h3 class="section-adalabers__title-article">María García</h3>

            <p class="section-adalabers__paragraph">Me considero una persona extrovertida, inquieta y con mucho
                sentido del humor. De hecho, para mí un día sin reír es un día perdido. En mi tiempo libre disfruto
                leyendo, escribiendo y descubriendo librerías independientes. Como buena urbanita, me encanta viajar a
                grandes ciudades, aunque reconozco que me cuesta probar la comida local. Donde esté la tortilla de
                patatas…
            </p>

            <load src="/partials/social-icons.html" linkedin="https://www.linkedin.com/in/mariagantunez/" />

        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__photo" src="../images/Marta Chacartegui.png">

        <div class="section-adalabers__content">

            <h3 class="section-adalabers__title-article">Marta Chacartegui</h3>

            <p class="section-adalabers__paragraph">Soy programadora web en formación, jugadora de rugby y amante de los
                pendientes de colores. Me apasiona la tecnología, el trabajo en equipo y siempre busco darle un toque
                personal y vibrante a todo lo que hago.</p>


            <load src="/partials/social-icons.html" linkedin="https://www.linkedin.com/in/martachacartegui/" />

        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__photo" src="../images/Seila Cuartero.png">

        <div class="section-adalabers__content">

            <h3 class="section-adalabers__title-article">Seila Cuartero</h3>

            <p class="section-adalabers__paragraph">Periodista y guionista de comedia. En cuanto abrí mi perfil en
                LinkedIn me puso el emblema del paro y me abrió un GoFundMe. Practicaba pilates, leía, escribía y salía
                a la calle antes de convertirme en adalaber. Ahora paso tanto tiempo delante del ordenador que el
                teclado se ha convertido en una extensión de mi ser. ¿Código o chistes? Aquí hacemos de todo, menos
                levantarnos de la silla.</p>

            <load src="/partials/social-icons.html" linkedin="https://www.linkedin.com/in/seilacuarterop%C3%A9rez/" />

        </div>

    </article>

</section>