<section class="section-adalabers">

    <h2 class="section-adalabers__title">QUIÉNES SOMOS</h2>

    <article class="section-adalabers__article">

        <img class="section-adalabers__article--photo" src="../images/Bianca Dragan.jpeg">

        <h3 class="section-adalabers__article--title">Bianca Dragan</h3>

        <p class="section-adalabers__article--paragraph"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis suscipit nesciunt ea qui animi doloremque
            corporis non, quia id praesentium, odit est culpa ipsum? Doloremque ea soluta illum in? Aut.</p>

        <div class="section-adalabers__article--socialmedia">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__article--photo" src="../images/Estefanía Navas.jpeg">

        <h3 class="section-adalabers__article--title">Estefanía Navas</h3>

        <p class="section-adalabers__article--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis suscipit nesciunt ea qui animi doloremque
            corporis non, quia id praesentium, odit est culpa ipsum? Doloremque ea soluta illum in? Aut.</p>

        <div class="section-adalabers__article--socialmedia">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__article--photo" src="../images/Julia López.jpeg">

        <h3 class="section-adalabers__article--title">Julia López</h3>

        <p class="section-adalabers__article--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis suscipit nesciunt ea qui animi doloremque
            corporis non, quia id praesentium, odit est culpa ipsum? Doloremque ea soluta illum in? Aut.</p>

        <div class="section-adalabers__article--socialmedia">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__article--photo" src="../images/María García.jpeg">

        <h3 class="section-adalabers__article--title">María García</h3>

        <p class="section-adalabers__article--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis suscipit nesciunt ea qui animi doloremque
            corporis non, quia id praesentium, odit est culpa ipsum? Doloremque ea soluta illum in? Aut.</p>

        <div class="section-adalabers__article--socialmedia">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__article--photo" src="../images/Marta Chacartegui.png">

        <h3 class="section-adalabers__article--title">Marta Chacartegui</h3>

        <p class="section-adalabers__article--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis suscipit nesciunt ea qui animi doloremque
            corporis non, quia id praesentium, odit est culpa ipsum? Doloremque ea soluta illum in? Aut.</p>

        <div class="section-adalabers__article--socialmedia">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>

    </article>

    <article class="section-adalabers__article">

        <img class="section-adalabers__article--photo" src="../images/Seila Cuartero.png">

        <h3 class="section-adalabers__article--title">Seila Cuartero</h3>

        <p class="section-adalabers__article--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis suscipit nesciunt ea qui animi doloremque
            corporis non, quia id praesentium, odit est culpa ipsum? Doloremque ea soluta illum in? Aut.</p>

        <div class="section-adalabers__article--socialmedia">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-solid fa-envelope"></i>
        </div>
    </article>

</section>