<footer class="footer">
  <div class="footer__nav-name">
    <p class="footer__mothers-of-code">Mothers of Code &copy; 2024</p>
  </div>
  <nav class="footer__nav">
    <ul class="footer__menu">
      <li class="footer__menu-list"><a class="footer__menu-links" href="#main">EQUIPO</a></li>
      <li class="footer__menu-list"><a class="footer__menu-links" href="#main">QUIÉNES SOMOS</a></li>
      <li class="footer__menu-list"><a class="footer__menu-links" href="./contacto.html">CONTACTO</a></li>
    </ul>
  </nav>
  <a href="./index.html#header">
    <img class="footer__logo-adalab" src="../images/Logo/6709_logo-adalab v2.png" alt="Logo Adalab GOT">
  </a>
</footer>