<footer class="footer">
  <p class="footer__mothers-of-code">Mothers of Code &copy; 2024</p>
  <nav class="footer__nav">
    <ul class="footer__menu">
      <li class="footer__menu-list"><a class="footer__menu-links" href="#main">EQUIPO</a></li>
      <li class="footer__menu-list"><a class="footer__menu-links" href="#main">QUIÉNES SOMOS</a></li>
      <li class="footer__menu-list"><a class="footer__menu-links" href="#main">CONTACTO</a></li>
    </ul>
  </nav>
  <a href="#header">
    <img class="footer__logo-adalab" src="../images/Logo/6709_logo-adalab v2.png" alt="Logo Adalab GOT">
  </a>
</footer>