<footer class="footer_section">
  <p class="mothers_of_code">Mothers of Code &copy; 2024</p>
  <nav class="nav_footer">
    <ul>
      <li class="nav_footer_list">
        <a class="nav_footer_link" href="#main">EQUIPO</a>
        <a class="nav_footer_link" href="#main">QUIÉNES SOMOS</a>
        <a class="nav_footer_link" href="#contacto">CONTACTO</a>
      </li>
    </ul>
  </nav>
  <a href="#header">
    <img class="logo_adalab" src="../images/Logo/6709_logo-adalab v2.png" alt="Logo Adalab GOT">
  </a>
</footer>