<header class="header">
  <section class="header__name-section">
    <a class="header__name-link" href="./index.html#header"><h1 class="header__name">Mothers of code</h1></a>
  </section>
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="header__menu-list"><a class="header__menu-links" href="./index.html#equipo">Equipo</a></li>
      <li class="header__menu-list"><a class="header__menu-links" href="./index.html#quienes-somos">Quiénes somos</a></li>
      <li class="header__menu-list"><a class="header__menu-links" href="./contacto.html">Contacto</a></li>
    </ul>
  </nav>
</header>