<ul class="section-adalabers__socialmedia">

    <li class="section-adalabers__list-item">
        <a class="icon" href="{=$twitter}" target="_blank" rel="noopener noreferrer">
            <i class=" fa-brands fa-twitter"></i>
        </a>
    </li>


    <li class="section-adalabers__list-item">
        <a class="icon" href="{=$linkedin}" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
    </li>


    <li class="section-adalabers__list-item">
        <a class="icon" href="{=$email}" target="_blank" rel="noopener noreferrer">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </li>

</ul>