<section class="teams-strengths-and-weaknesses">
  <div class="teams">
    <h1 class="teams-title">EQUIPO</h1>
    <p class="teams-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum neque et aliquam varius.
    </p>
    <p class="teams-paragraph">
      Vivamus feugiat eu sem sed eleifend. Morbi efficitur lorem eget justo sodales feugiat. Vestibulum tristique sed ante semper elementum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>
  <div class="square"></div>
  <section class="strengths-and-weaknesses">
    <div class="strengths-section">
      <h1 class="s-w-title">Fortalezas</h1>
      <p class="s-w-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum neque et aliquam varius. 
            volutpat convallis morbi.
      </p>
    </div>
    <div class="weaknesses">
      <h1 class="s-w-title">Debilidades</h1>
      <p class="s-w-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum neque et aliquam varius.
      </p>
    </div>
  </section>
</section>