<section class="teams-strengths-and-weaknesses" id="fuerzas-y-debilidades">
  <div class="teams">
    <h2 class="teams-title">EQUIPO</h2>
    <p class="teams-paragraph">
      Un grupo de programadoras tan diverso como los clanes de Westeros, unidas para conquistar cualquier desafío
      tecnológico. Desde el diseño de interfaces cautivadoras hasta el manejo de infraestructuras impenetrables, este
      equipo combina creatividad, estrategia y ejecución impecable. Cada miembro aporta su especialidad única, formando
      una alianza que transforma problemas complejos en soluciones épicas.
    </p>
    <p class="teams-paragraph">
      Porque en el código, nosotras no solo participamos, gobernamos.
    </p>
  </div>
  <div class="square"></div>
  <section class="strengths-and-weaknesses">
    <div class="strengths-section">
      <h3 class="s-w-title">Fortalezas</h3>
      <p class="s-w-paragraph">
        Nos apoyamos mutuamente en todo
        momento, aprovechando nuestras fortalezas individuales para construir soluciones innovadoras en un ambiente
        lleno de creatividad y buen rollo. Sabemos que, unidas por un propósito común, somos imparables: con entusiasmo,
        trabajo en equipo y una visión clara, somos capaces de crear cosas extraordinarias mientras disfrutamos cada
        paso del camino.
      </p>
    </div>
    <div class="weaknesses">
      <h3 class="s-w-title">Debilidades</h3>
      <p class="s-w-paragraph">
        Los conflictos de GitHub son como dragones dormidos: poderosos, impredecibles y capaces de desatar el caos con
        un
        solo movimiento mal calculado, algo que nos llena de respeto. Valoramos nuestro tiempo libre como un tesoro,
        pero eso a veces choca con las largas campañas que exige la programación. Aun así, enfrentamos estas batallas
        con la esperanza de que siempre llegue un invierno... para descansar.
      </p>
    </div>
  </section>
</section>